.content-div {
  text-align: left !important;
  padding: 20px;
}

.text-size-15 {
  font-size: 15px;
}
.text-size-20 {
  font-size: 20px;
}

.text-size-12 {
  font-size: 12px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.title {
  margin-bottom: 0 !important;
}

.lower-div {
  margin-top: 100px;
}

.dark-blue-text {
  color: #475254;
}

.share-div {
  margin-top: 50px;
  height: 50px !important;
}
