.ant-layout-footer {
  background-color: #475254 !important;
  border-color: #475254 !important;
  color: white !important;
  text-align: left !important;
}

.footer-div,
.footer-row {
  color: white !important;
}

h1 {
  margin-bottom: 0;
}

.text-size-10 {
  font-size: 10px;
}

.lighter {
  font-weight: lighter;
}

.bolder {
  font-size: 12px;
  font-weight: bolder;
}

.ant-divider.ant-divider-horizontal.footer-divider {
  margin-left: 0px !important;
  min-width: 100% !important;
  max-width: 100% !important;
}