.ant-layout-header {
  height: 300px;
  width: auto;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ant-btn.toggle-btn {
  float: left;
  margin-top: 30px;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  color: white;
  font-size: 25px !important;
  cursor: pointer;
}

