.sider-div,
.menu-div,
.ant-menu,
.ant-layout-sider-children {
  border-color: #475254;
  background-color: #475254 !important;
  color: white;
}

.ant-btn.sider-btn {
  float: left;
  margin-top: 30px;
  margin-left: 20px !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  color: white;
  font-size: 30px !important;
  cursor: pointer;
}

.sider-btn:hover,
.sider-btn:focus {
  border-color: #475254;
}

.ant-menu-item-selected {
  background-color: #475254 !important;
  color: black !important;
}

.menu-div {
  margin-top: 212px;
}

.ant-menu-item {
  height: 170px !important;
  color: white !important;
  padding-bottom: 20px !important;
}

.ant-card-meta-detail {
  color: white !important;
}

.thumbnail {
  margin-top: 20px;
  margin-left: 20px;
  width: 120px;
  height: 80px;
}

.menu-text {
  margin-left: 20px;
}

.title-text {
  font-weight: bold;
  padding: 0 !important;
}

.date-text {
  margin-top: 5px;
  font-size: 12px;
}

.ant-divider.ant-divider-horizontal.sider-divider {
  margin-left: 20px !important;
  min-width: 80% !important;
  max-width: 50% !important;
}

.item-opacity {
  background-color: rgba(71, 82, 84, 0.5);
  opacity: 0.5 !important;
}

.item-opacity:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  color: black;
}